.container {
	display: flex;
	flex-direction: column;
}

.grid {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-10);
}

.errorText {
	font-size: var(--periscope-font-size-base);
	color: var(--cherry-foreground);
	margin: 0;
	padding: var(--spacing-4);
	text-align: center;
}
